* {
padding: 0px;
    margin: 0x;
    box-sizing: border-box;  /* Свойства для сброса начальных стилей элементов */
}
html,
body {
 font-family:'Inter', sans-serif;   
}

header {
    background-color:#0A61F7;
    padding: 14px 0;
    /* Стили для хедера */
}

header span {
    color: cornsilk;

    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 100vh;
    min-width: 100vw;
    
    
    /* Стили для первой секции */
}

.main-title {
    color:#070808;
    font-size: 58px;
    font-weight: 500px;
    line-height: 68px;
    margin-bottom: 30px;

    /* Стили для заголовка в первой секции */
}

.main-text {
    color:#363940;
    font-size: 58px;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #FAFAFF;
    padding-top: 60px;
    padding-bottom: 60px;
    /* Стили для второй секции */
}

select {
    margin-top: 60px;
    /* Стили для выпадающего списка */
}

.section-title {
    margin-top: 0;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}