* {
padding: 0px;
    margin: 0x;
    box-sizing: border-box;  /* Свойства для сброса начальных стилей элементов */
}
html,
body {
 font-family:'Inter', sans-serif;   
}

header {
    background-color:#0A61F7;
    padding: 14px 0;
    /* Стили для хедера */
}

header span {
    color: cornsilk;

    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #FAFAFF ;
    padding: 60px 0;
    min-width: 2047px;
    /* Стили для первой секции */
}

.main-title {
    /* Стили для заголовка в первой секции */
}

.main-text {
    /* Стили для текста в первой секции */
}

.main-image {
    /* Стили для изображения в первой секции */
}


.about-section {
    /* Стили для второй секции */
}

select {
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}